body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: blanchedalmond;
  font-family: "Courier New", Courier, monospace;
}

.form {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 5px;
}

.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 25px;
  text-align: center;
  border: solid 4px grey;
}

.input::placeholder {
  color: lightgray;
  font-family: 'Courier New', Courier, monospace;
}

.btn{
    margin-top: 3%;
    background-color: darkgray;
    border: none;
    display: block;
    width: 100%;
    padding:10px;
    font-size: 20px;
    font-family: cursive;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    filter: brightness(0.9);
}
